#nd-docs-layout > aside{
  --fd-sidebar-height: calc(100dvh - 64px - var(--fd-banner-height) - var(--fd-nav-height))!important;
}
#nd-page{
  height: 100%;
}
#nd-page article{
  height: calc(100vh - 65px);
  overflow-y: auto;
  padding-top:20px!important;;
}
@media (max-width: 768px) {
  #nd-page{
    padding-top:60px!important;;
  }
  #nd-page article{
    height: calc(100vh - 130px);
  }
}
#nd-subnav{
  top: 64px;
  width: 60px!important;
  right: 0!important;
  inset-inline: auto;
}
#nd-tocnav{
  top: 0;
  width: calc(100vw - 60px);
  padding-top: 20px!important;
  padding-bottom: 3px;
}
#nd-sidebar{
  border:none!important;
}
#nd-toc{
  padding-top: 20px!important;
  --fd-toc-height: calc(100dvh - 64px - var(--fd-banner-height) - var(--fd-nav-height))!important;
  height: calc(100dvh - 64px - var(--fd-banner-height) - var(--fd-nav-height))!important;
}
.shiki:not(.not-fumadocs-codeblock *){
  padding: 0!important;
  border:none!important;
}
.shiki:not(.not-fumadocs-codeblock *) > *{
  border:none!important;
}
