@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --accent: #7F7F7F;
  --ios: #FD9226;
  --android: #51A637;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --border-radius: 30px;
  --icon-color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --accent: #d3d3d3;
    --ios: #FD9226;
    --android: #51A637;
  }
  .themed-icon {
    filter: invert(100%);
  }
}

.border-ios{
  border: 2px solid var(--ios);
  border-radius: var(--border-radius);
}
.color-ios{
  color: var(--ios);
}
.border-android{
  border: 2px solid var(--android);
  border-radius: var(--border-radius);
}
.color-android {
  color: var(--android);
}

body {
  color: var(--foreground);
  background: var(--background);
}

.themed-icon {
  filter: invert(0%);
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

