.code-block {
    color: #000000;
    background: transparent!important;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    padding-left: 3em!important;
    overflow: hidden!important;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


@media (prefers-color-scheme: dark) {
    code[class*="language-"],
    pre[class*="language-"] {
        color: #ccc;
    }
}
