.footer {
  padding: 4rem 1rem 2rem;
  display: block;
  width: 100%;
  background-color: rgba(124, 124, 124, 0.1);
  color: var(--muted);
}

.footer-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.7em;
}

.footer-nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.footer-nav a svg {
  margin-right: 8px;
}

.footer-nav img {
  width: 24px;
  height: 24px;
}

.footer-links .nav-link:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 20%;
  height: 1.2em;
  width: 1px;
  background-color: var(--foreground);
}
